<h2>Registro</h2>
<hr>

<form action="/api/sessions/restorePassword01" method="post">

    {{#if error}}
        <div style="color: red;">{{error}}</div>
    {{/if}}

    {{#if message}}
        <div style="color: green;">{{message}}</div>
    {{/if}}

    <input type="email" name="email" placeholder="email">
    <br>
    <input type="submit" value="Restaurar">
</form>

<hr>
<a href="/login">Login</a><br>
<hr>
<a href="/">Home</a><br>
<a href="/chat">Chat</a><br>
<a href="/realTimeProducts">Real time products</a><br>
<a href="/products">Products</a>