<h2>Registro</h2>
<hr>

<form action="/api/sessions/signup" method="post">

    {{#if error}}
        <div style="color: red;">{{error}}</div>
    {{/if}}

    <input type="text" name="first_name" placeholder="nombre">
    <input type="text" name="last_name" placeholder="apellido">
    <input type="email" name="email" placeholder="email">
    <input type="password" name="password" placeholder="password">
    <br>
    <input type="submit" value="Registrar">
</form>

<hr>
<a href="/login">Login</a><br>
<hr>
<a href="/">Home</a><br>
<a href="/chat">Chat</a><br>
<a href="/realTimeProducts">Real time products</a><br>
<a href="/products">Products</a>