<h2>Perfil</h2>
<hr>

<p>Nombre: <strong>{{user.name}}</strong> - Correo Electrónico: <strong>{{user.email}}</strong></p>

<hr>
<a href="/">Home</a><br>
<a href="/chat">Chat</a><br>
<a href="/realTimeProducts">Real time products</a><br>
<a href="/products">Products</a>